* {
  padding: 0;
  margin: 0;
}

html{
  font-family: Arial, Helvetica, sans-serif;
  font-size:62.5%;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color:#fbd1d9;
}

.flex {  
  padding: 5px;
  min-width: 800px;
  min-height: 675px;

  background: url('./eixo.png') no-repeat center;
  background-color:#FFF;
  border: 10px solid #ff264e;
}

.item { 
  box-sizing: border-box;
  border: 1px solid #FFF;

  width: 100px;
  background: #ff264e;  
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem; 
  color:#FFF;
}